.about-page {
    width: 80%;
    margin-left: 260px;
}

.aboutContainer {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -50%);
}

.primaryText {
    text-align: center;
    position: relative;
    font-size: large;
    overflow-wrap: break-word;
    margin-bottom: 30px;
    margin-top:1%;
    margin-left:15%;
    margin-right:15%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.secondaryText {
    text-align: center;
    position: relative;
    font-size: large;
    overflow-wrap: break-word;


    margin-top:1%;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.about-page h1 {
    text-align: center;
    position: relative;
    font-size: larger;
    overflow-wrap: break-word;
    margin-top: 15vh;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}



