
.placeholder-boxes {
  position: relative;
  top: 20vh;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

@media (max-height: 770px) {
  .placeholder-boxes {
    top: 4vh;
  }  
}

.placeholder-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.placeholder-images img {
  width: 50px;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  width: 250px;
  height: 80px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #1b1b1b; /* make the box grey */
  color: white; /* make the text white */
  border-radius: 20px;
  padding: 0 1%; /* add 10% space on each side */
  text-align: center; /* align the text to the center */
  word-wrap: break-word; /* allow the text to wrap to the line below */
}


.box:hover {
  background-color: #787878; /* make the box grey */
}

.bigText {
  color: white;
  font-size: 45px;
  font-weight: 700;
  font-family: "Sans serif", sans-serif;
  margin-bottom: 60px;
}

/* inference */

body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h3 {
  position: fixed;
  color: rgb(101, 101, 101);
  font-size: 11px;
  margin-top: 60px;
  white-space: nowrap;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #252525;
  height: 200%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2;
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.tab {
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: #1b1b1b;
  border-radius: 30px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #1F1F1F;
  color: #ffffff;
}

.tab:hover {
  background-color: rgb(187, 0, 255);
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: -20px;
  margin-left: 220px;
  margin-right: -17px;
  margin-bottom: -1px;
  padding: 10px;
  z-index: 0;
  max-width: 100%;
}


form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  padding-top: 38px;
  padding-bottom: 18px;
  z-index: 1;
}

#user_input {
  flex: 1;
  max-width: 850px;
  border-radius: 30px;
  border: 0.3vh solid #313131;
  padding: 15px 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  font-size: medium;
  background-color: #1f1f1f;
  color: #fff;
  z-index: 0;
}

#send-button {
  border-radius: 20px;
  border: 0.3vh solid #313131;
  padding: 17px;
  font-size: 15px;
  background-color: #0088cc;
  color: #c8c8c8;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 1s;
  z-index: 0;
}

#send-button:hover {
  background-color: #bb00ff;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-messages p {
  margin: 10px 0;
  color: #ffffff;
}

.chat-messages::-webkit-scrollbar {
  width: 10px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #1F1F1F;
  border-radius: 100px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 100px;
}

.chat-messages p,
.chatbot-response p {
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
  overflow-wrap: break-word;
  font-size: medium;
}

.chatbot-response-message,
.user-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}



.chatbot-response-message img,
.user-message img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chatbot-response-message p,
.user-message p {
  overflow-wrap: break-word;
  font-size: medium;
  margin: 0 30px;
  flex: 1;
}

/*.chatbot-response-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b1b1b;
  z-index: -1;
} */


.chatbot-response-message {
  background-color: #1b1b1b;
  box-shadow: 1000px 0 0 #1b1b1b, -10px 0 0 #1b1b1b; /* Adjust the values as needed */
}

.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  background-color: #1b1b1b;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px 20px;
  transition: background-color 0.6s;
}

.tab.active {
  background-color: #0088cc;
  color: #fff;
}

.tab:hover {
  background-color: #bb00ff;
}

#contact-button,
#reset-context-button,
#toggle-theme-button {
  background-color: #1b1b1b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  position: relative;
  transition: background-color 0.5s;
}

#contact-button:hover,
#reset-context-button:hover,
#toggle-theme-button:hover {
  background-color: rgb(187, 0, 255);
}

#contact-button {
  margin-top: 45vh;
}

#reset-context-button,
#toggle-theme-button {
  margin-top: 10px;
}

.hidden {
  display: none;
}

#stop-generation-button {
  position: fixed;
  margin-bottom: 170px;
  min-width: 160px;
  padding: 9px 30px;
  border-radius: 10px;
  color: white;
  background-color: #1F1F1F;
  border: none;
  font-size: 15px;
  transition: background-color 0.3s;
}

#stop-generation-button:hover {
  background-color: rgb(187, 0, 255);
}

.input-wrapper {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.unclickable {
  background-color: #1F1F1F !important;
  cursor: not-allowed;
  pointer-events: none;
}

/* light mode */
body.light-mode form,
body.light-mode {
  background-color: #0E1621;
  color: #000000;
}

body.light-mode .chatbot-response-message::before {
  content: "";
  background-color: #3E3F4B;

}

body.light-mode .tab:hover {
  background-color: rgb(187, 0, 255);
}

body.light-mode .chat-messages::-webkit-scrollbar-track {
  background-color: #182533;
}

body.light-mode .chat-messages::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

body.light-mode .sidebar,
body.light-mode .box {
  background-color: #182533;
}

body.light-mode .box:hover {
  background-color: #0088cc;
}

body.light-mode .unclickable {
  background-color: #1F2937 !important;
  border-color: #1F2937 !important;
}

body.light-mode #send-button {
  border: 0.3vh solid #1F2937 !important;
}

body.light-mode #user_input {
  background-color: #1F2937;
  border-color: #1F2937;
  color: #ffffff;
  ::placeholder {
    color: #c7c7c7;
  }
}

body.light-mode .tab,
body.light-mode #contact-button,
body.light-mode #reset-context-button,
body.light-mode #toggle-theme-button {
  background-color: #0B0F19;
}



body.light-mode .tab:hover,
body.light-mode #contact-button:hover,
body.light-mode #stop-generation-button:hover,
body.light-mode #reset-context-button:hover,
body.light-mode #toggle-theme-button:hover {
  background-color: rgb(187, 0, 255);
}

body.light-mode .tab.active {
  background-color: #0088cc;
}

body.light-mode .chatbot-response-message {
  background-color: #1F2937;
  box-shadow: 1000px 0 0 #1F2937, -10px 0 0 #1F2937; /* Adjust the values as needed */
}

body.light-mode #stop-generation-button {
  background-color: #182533;
}